version: '3.8'
services:
  lr_api:
    build: API/
    volumes:
      - ./API/src:/var/www/html
    ports:
      - 80:80
  lr_ui:
    build: UI/
    volumes:
      - ./UI/src:/home/node/src
      - ./UI/build:/home/node/build
    depends_on:
      - lr_api
